%h1 Editar Producto Nombre

= render 'form'

%footer
	= link_to 'Mostrar', @product_type
	\|
	= link_to 'Ver Todo', product_types_path
	\|
	= link_to 'Destruir', @product_type, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }
