%h1 Tipos de Productos

%h2=link_to "Añadir Nuevo",new_product_type_path

%table-bordered
%table.table-striped.table-bordered.table.wice-grid.center#narrow
  %thead
    %tr.wice-grid-title-row
      %th Nombre


  - @product_types.each do |product_type|
    %tr
      %td= link_to product_type.nombre, edit_product_type_path(product_type)


