
	<%= define_grid(@designs_grid, class: "hidden-phone " ,hide_submit_button: true, hide_reset_button: true) do |g|

    	g.column name:  'Producto',  attribute: 'nombre', model: 'ProductType' ,
    	detach_with_id: :type_filter do |design|link_to  design.product_type.nombre, design end
    
    	g.column name:  'Diseño', attribute: 'nombre', 
    	detach_with_id: :nombre_filter do |design|link_to  design.nombre, design end

    	g.column name:  'Detalles', attribute: 'detallas', 
    	detach_with_id: :detallas_filter do |design|link_to  design.detallas, design end

    	g.column name:  'Nivel', attribute: 'nivel', 
    	detach_with_id: :nivel_filter do |design|link_to  design.nivel, design end

    	g.column name:  'Tiempo', attribute: 'Tiempo_en_minutos', 
    	detach_with_id: :Tiempo_en_minutos_filter do |design|link_to  design.Tiempo_en_minutos, design end
		
		
	end -%>

<div class="hide_in_desktop hidden-tablet hidden-print">
<table class="table-striped table-bordered table wice-grid">
 <thead>
    <tr>
      <th>Diseño</th>
      <th>Tipo</th>

    </tr>
  </thead>


  <tbody>
    <% @designs.each do |design| %>
      <tr data-href="<%= edit_design_path(design) %>">
       <td><%= link_to design.nombre? ? design.nombre : "Sin nombre", edit_design_path(design) %></td>
        <td><%= link_to design.product_type.nombre , edit_design_path(design)%></td>
       </tr>
    <% end %>
  </tbody>
</table>

</div>