%h1 Editar Artista

= render 'form'

%footer
	= link_to 'Ver', @artist
	\|
	= link_to 'Ver Todos', artists_path
	/ \|
	/ = link_to 'Destruir', @artist, method: :delete, data: { confirm: '¿Estás Seguro?' }