
	<%= grid(@orders_grid, class: "hidden-phone ") do |g|


    	g.column name:  'ID', attribute: 'id' do |order|link_to  order.id, order end

    	g.column name:  'Compañía', attribute: 'compania', model: 'Customer'   do |order|link_to  order.customer.compania, order end

    	g.column name:  'Venta', attribute: 'venta', filter_type: :range do |order|link_to  currency(order.venta), order end
      g.column name:  'Fecha' do |order|link_to  date(order.created_at), order end

      g.column name:  'Productos Adjuntos'  do |order|link_to  order.products.count , order end   
    	g.column name:  'Forma de Pago',attribute: 'pago' do |order| order.pago  ? "Consignación": "Efectivo" end    			

    	g.column name:  'Estado',  attribute: 'estado', attribute: 'estado_de_pedido' do |order|link_to  order.estado_de_pedido, order end

    	g.column name:  'Detalles', attribute: 'detall_de_pedido',  class:"hidden-print"  do |order|link_to  order.detall_de_pedido, order end

		

	end -%>







<div class="hide_in_desktop hidden-tablet hidden-print">
<table class="table-striped table-bordered table wice-grid hidden-print">
 <thead>
    <tr>
     
      <th>Cliente</th>
      <th>Venta</th>
      <th>Estado</th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
 
        <td><%= link_to order.customer.compania, order %></td>
        <td><%= link_to currency(order.venta), order %></td>
        <td><%= link_to order.estado_de_pedido , order %></td>


      </tr>
    <% end %>
  </tbody>
</table>

</div>