="Gracias #{@order.customer.compania},"
:plain

¡Gracias por apoyarnos! 100% de su venta va hacia el grupo de mujeres de Mujeres: Cambia.
:plain

Nosotros hemos enviado puso el paquete en el correo. Seguimiento de su paquete con el código de rastreo:
=@order.numero_de_rastreo
:plain

Siga el siguiente enlace para seguimiento de su paquete de Correos del Ecuador:
http://www.correosdelecuador.gob.ec/
:plain

Puede tomar 24 horas para el rastreo de información para estar disponible.
:plain

¡Gracias por su apoyo!
:plain

=@order.encargado
Mujeres: Cambia 
San Pablo, Ecuador