="Hello #{@order.customer.compania},"
:plain

Thank you for supporting us! 100% of your sale goes towards the women group of Mujeres: Cambia.
:plain

We have just put your package in the mail. Track your package with the following code:
=@order.numero_de_rastreo
:plain

Follow the link below to track your package on USPS:
https://tools.usps.com
:plain

It may take 24 hours for tracking information to be available.
:plain

Thank you again for your support!
:plain

=@order.encargado
Mujeres: Cambia 
San Pablo, Ecuador