%br
%br
%br
%br

%table.table-striped.table-bordered.table.wice-grid.center#narrow
  %thead
    %tr.wice-grid-title-row
      %th Empresa


  - @my_details.each do |my_detail|
    %tr
      %td= link_to my_detail.compania_nombre, my_detail
  



