%img{src: "https://dl.dropbox.com/s/y6huy94m2f6rg33/cellphoneinstructions.jpg"}

%h1 Instruciónes

%h2 Puede usar su cellular de Claro a communicar con el sitio. 
%table.table-striped.table-bordered.table.wice-grid
	%thead
		%tr.wice-grid-title-row
			%td Comando
			%td Descripción

	%tbody
	%tr
		%td REG (istro)
		%td Registrar tus datos en Messenger Claro.
	%tr
		%td ENT (rar)	    
		%td Entrar con tu cuenta, conectarte.
	%tr
		%td LIS (ta)	    
		%td Ver la lista de tus contactos en línea.
	%tr
		%td SAL (ir)	    
		%td Salir del sistema, desconectarte.
	%tr
		%td UNR (egistro)	    
		%td Eliminar tus datos del Messenger Claro.
	%tr
		%td AYU (da)	    
		%td Pedir ayuda al sistema.

%h2
	%a{href:"http://www.messengerclaro.com.ec/claro-como-se-usa-paso3.html"}
		Leer mas en el sitio de Claro.
				