@import "bootstrap";
@import "bootstrap-responsive";

/* Mixins*/  

@mixin rotate($degrees: 180deg){
  -moz-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin transition_all($time: 0.5s){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

/* universal */

html {overflow-y: scroll}

body {
  color: #333;
  @include transition_all;
  }

#main {
  width:80%;
  margin:0px auto;
  text-align:left;
  padding:15px;
}

#log_in{
  text-align: center;
}
nav{
  font-size: .9em;
}
footer{
  width:80%;
  margin:0px auto;
  text-align: center;
  font-size: 14px;
  a:hover {
    color:black
  }
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;

    text-decoration:none;
  }
}

/* General Helpers*/  

.spacer{
  margin-bottom:40px
}


/* Fix Issue on Android Menu Bar*/  

.dropdown-backdrop {
  position: static;
}

/* Table Customization*/  

.table tr th, .table tr td {
  text-align:center;
  font-size: 13px;
}

th{color:#666666;}
th a:hover{color:black;}

tr td:hover a{
  color:black;
}

.filter td{
  padding-right: 20px;
}

.tab-content{
  margin: 30px 10% 30px;
  text-align: center;

}
/*Form Customization*/  


.medium_text_field input {
  width: 60px;
}

.currency {
  width: 100px;
}

form select{
  &.day { width: 60px;}
  &.month { width: 110px;}
  &.year { width: 70px;}
}

#buyer_store_image{
    color:white;
}
#image_label{
  text-align: left;
  white-space:nowrap;
}
.no_scroll{
  overflow-x: hidden;
}
/* Interactive */
.show_tab:focus{
  border: none;

  & ~ .prices {
  display: block;
}}
.hide_tab:focus ~ .prices {
  display: hide;
}
.prices td{ padding-right: 60px;}

/* Error Handling */

.error_messages { width:200px;
  margin:0px auto;
  text-align:left;
  padding:15px;

  }
 
.field_with_errors {
  margin:0px auto;
  text-align: center;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  }



/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* responsive */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  body,footer{
    font-size:0.8em;
  }

.hide{
        display:block;   
    }
}

@media screen and (min-width: 767px) and (max-width: 980px) {

}
