@import "bootstrap";
@import "bootstrap-responsive";

/* Mixins*/  

@mixin rotate($degrees: 180deg){
  -moz-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin transition_all($time: 0.5s){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

/* universal */

html {overflow-y: scroll}

body {
  color: #333;
/*  @include transition_all;*/
  table a {color: black;}
  }

#log_in{
  margin-top: 100px;
  }

#main {
  width:80%;
  margin:0px auto;
  text-align:left;
  padding:15px;
}

#log_in{
  text-align: center;
}
nav{
  font-size: .9em;
}
footer{
  width:80%;
  margin:0px auto;
  text-align: center;
  font-size: 14px;
  a:hover {
    color:white;
    padding: 1px;
  }
}
.spacer{
  padding-bottom: 10px;
}
a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;

    text-decoration:none;
  }
}


/*Printing Label*/
/* Printing */

h2,p,#notice,h1{
clear: both;
}

.a4{
  position: relative;
}



.from{
    position: absolute;
    left: -90px;
    line-height: 2em;
}

.to{ 
  position: absolute;
  top: 300px;
  left: 220px;
  line-height: 2em;
  
}
.customs{
 background: url(https://dl.dropbox.com/s/9yzih2hzevllc3a/english_label2.jpg) no-repeat 0 0;
 background-size: 800px;
 width: 28cm;
 min-height: 29.7cm;
 position: absolute;
 font-size: 14px;  

}

.custom_line_item_A {position: absolute; z-index: 5; top: 5px;left: 434px;font-size: large;}
.custom_line_item_B {position: absolute; z-index: 5; top: 141px;left: 50px;font-size: x-large;}
.custom_line_item_C {position: absolute; z-index: 5; top: 141px;left: 390px;font-size: large;}
.custom_line_item_D {position: absolute; z-index: 5; top: 141px;left: 429px;font-size: large;}
.custom_line_item_E {position: absolute; z-index: 5; top: 141px;left: 523px;font-size: large;}
.custom_line_item_F {position: absolute; z-index: 5; top: 141px;left: 605px;}
.custom_line_item_G {position: absolute; z-index: 5; top: 141px;left: 711px;font-size: large;}
.custom_line_item_H {position: absolute; z-index: 5; top: 379px;left: 532px;font-size: large;}
.page{
  position: absolute;
  font-size: 10px;
  background: url(https://dl.dropbox.com/s/xn4nbkaba4188ep/das2.jpg) no-repeat 0 0; 
  background-size: 900px;

    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;

}
    @page {
        size: A4;
        margin: 0;
    }

.das{
  position: absolute;
  font-size: 14px;  
  z-index: 5;
  
}
#das_links{top:-32px;left:-84px;a{font-size: 20px;color:red;}}
.spacer_one{padding-top: 39px;}
.spacer_two{padding-top: 20px;}
#part_one_A{ top: 242px; left: 111px;}
#part_one_B{top: 210px;left: 461px;}
#part_one_C{top: 207px;left: 740px;}
#date{top: 138px;left: 786px;}
#part_two_A{top: 429px; left: 101px;}
#part_two_B{top: 431px; left: 463px;}
#part_two_C{top: 425px; left: 757px;}
#part_three_A{top: 585px; left: 74px;}
#part_three_B{top: 585px; left: 242px;}
#part_three_C{top: 585px; left: 400px;}
#part_three_D{top: 585px; left: 563px;}
#part_four{top: 735px; left: 100px;}
#part_five{top: 891px; left: 100px;}
#part_six{top: 997px; left: 100px;}
#part_seven{top: 997px; left: 700px;}
/* General Helpers*/  
.spacer{
  margin-bottom:40px
}

.center{
     margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.override.formtastic .stringish input {
width: 22%;
}
/* Fix Issue on Android Menu Bar*/  

.dropdown-backdrop {
  position: static;
}

/* Table Customization*/  

.wide_col{
    min-width:90px;
}
#full{
  width: 100%;
}
.table tr th, .table tr td {
  text-align:center;
  vertical-align: center; 
  font-size: 13px;
}

th{color:#666666;}
th a:hover{color:black;}

tr td:hover a{
  color:black;
}

.filter td{
  padding-right: 20px;
}

.tab-content{
  margin: 30px 10% 30px;
  text-align: center;

}
/*row links formatin*/
*[data-href] {
  cursor: pointer;
}
td a {
  text-decoration: none;
  display:inline-block;
  min-height:100%;
  width:100%;
  padding: 5px 5px 5px 1px; /* add your padding here */
  color: #c4c4c4; 
}
td {
  padding:20px;  
}
tr a:hover{
  background: none;
}

#narrow
{ width:30%;}
table tbody tr:hover {
  border-width:0px;

  a{
    color:#0074CC;

   }
}
#grid_f_venta_fr, #grid_f_venta_to{
  width:30px;
}
/*Form Customization*/  

/*Packing Slip*/
  .addresses td { line-height: 24px; font-size: 20px; padding: 0; }
table.addresses{padding: 30px;width: 70%; margin: 0 auto;}

/*Pagination*/
.pagination ul > li > a{width: 10px;

}
.pagination ul>li{
float:left;
}
#medium_text_field input {
  width: 20px;
}

.currency {
  width: 100px;
}

form select{
  &.day { width: 60px;}
  &.month { width: 110px;}
  &.year { width: 70px;}
}

#buyer_store_image{
    color:white;
}
#image_label{
  text-align: left;
  white-space:nowrap;
}
.no_scroll{
  overflow-x: hidden;
}

.actions{
  margin-bottom: 20px;
}
/* Interactive */
.show_tab:focus{
  border: none;

  & ~ .prices {
  display: block;
}}
.hide_tab:focus ~ .prices {
  display: hide;
}
.prices td{ padding-right: 60px;}

#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}

/* Error Handling */

.error_messages { width:200px;
  margin:0px auto;
  text-align:left;
  padding:15px;

  }
 
.field_with_errors {
  margin:0px auto;
  text-align: center;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  }



/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

.hide_in_desktop{display: none;}
#hide_brand_desktop{display: none;}
/* responsive */

.in[style] {
  height: auto !important;

}
  .mobile_hide{display:bo;}
@media screen and (max-width: 567px) {
  h1,h3,h2,h4,h5 {font-size: 1.5em;}
  body,footer{font-size:0.8em;}
  .tab-content.spacer{margin: 0px auto;padding-bottom: 20px}
  .mobile_center{display:block; margin: 0px auto; text-align: center;}
  .mobile_hide{display:none;}
  .hide_in_desktop{display: block;}
  #hide_brand_desktop{display: block;}


#left_col , #right_col, #wrap {
   float:clear;
   width: 100%;
}

}

@media screen and (min-width: 568px) and (max-width: 980px) {
  .hide_in_desktop{display: inline-block;}
  .hide_in_tablet{display: none;}
  #hide_brand_desktop{display: block;}
  
#left_col , #right_col, #wrap {
   float:clear;
   width: 100%;
}

}
