@media print{
/*Main */
nav {page-break-before:always}
nav#user_nav{display: none !important;}
.hidden-print{display: none !important;}
.pagination, .wg-show-all-link, .pagination_status, .wg-filter-row, .filter, .external-buttons{display: none !important;}
td{text-align: center; padding-left: 10px;}
td a, h3 a {text-decoration:none;}
thead {text-decoration: underline;}

/*Printing Label*/


h2,p,#notice,h1{
clear: both;
}
.a4{
  position: relative;
}
.from{
    position: absolute;
    left: -200px;
    font-size: 1em;
}
.to{ 
  position: absolute;
  top: 300px;
  left: 150px;
  font-size: 1em;  
}


.page{
  	size: A4;
    margin: 0;
  	background:url(https://dl.dropbox.com/s/xn4nbkaba4188ep/das2.jpg) no-repeat 0 0;
      background-size: 850px;
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;

}

img.products{width: 80%;}
/*Packing Slip*/
img.full_page{width: 80%; padding-left: 10%; padding-bottom: 30px;}
h1.full_page{width: 50%; margin: 0 auto; padding-bottom: 30px;}
h1.lead_line{width: 80%; margin: 0 auto;}
table.addresses{padding: 30px;width: 70%; margin: 0 auto;}
table.center_table {width: 80%; margin: 0 auto;}
.addresses tr { line-height: 12px; }

}