
	<%= grid(@products_grid, class: "hidden-phone ") do |g|

      g.column name:  '#', attribute: 'id', class: "hidden-print" do |product|link_to  product.id, edit_product_path(product) end

    	g.column name:  'Código', attribute: 'codigo' do |product|link_to  product.codigo, edit_product_path(product) end


    	g.column name:  'Artista', attribute: 'nombre', model: 'Artist', class: "hidden-phone " do |product|link_to  product.artist.nombre, edit_product_path(product) end

    	g.column name:  'Diseño', class: "hidden-phone ", attribute: 'nombre', model: 'Design' do |product|link_to  product.design.nombre, edit_product_path(product) end

        g.column name:  'Estado', attribute: 'location', model: 'Location',class: "hidden-phone " do |product|link_to  product.location.location   , edit_product_path(product) end

    	g.column name:  'Nivel', class: "hidden-phone " do |product|link_to  product.design.nivel, edit_product_path(product) end
  		g.column name:  'Tipo' ,class: "hidden-phone " do |product|link_to  product.design.product_type.nombre, edit_product_path(product) end
    	g.column name:  'Fecha',   class: "hidden-phone ", attribute: 'created_at', detach_with_id: 'fecha' do |product|link_to  product.created_at.strftime("%d/%m/%y"), edit_product_path(product) end
	end -%>

<div class="hide_in_desktop hidden-tablet hidden-print">
<table class="table-striped table-bordered table wice-grid">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Artista</th>      
    </tr>
  </thead>

  <tbody>
    <% @products.reverse.each do |product| %>
      <tr>
        <td><%= link_to product.codigo, edit_product_path(product) %></td>
        <td><%= link_to product.artist.nombre, edit_product_path(product) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>