
-#Call Grid for Filter
= render partial:  'grid'

-# Filter
%table.hidden-phone.filter
  %tr
    %td Codigo:
    %td= grid_filter @products_grid, :codigo_filter


-# Filter Buttons
.external-buttons.hidden-phone.spacer
  %button.btn.btn.btn-primary.wg-external-submit-button{"data-grid-name" => "grid"} Enviar
  %button.btn.btn.wg-external-reset-button{"data-grid-name" => "grid"} Reinicializar


-#Table
= render_grid(@products_grid)

