%h1 Ubicacións


%table-bordered
%table.table-striped.table-bordered.table.wice-grid.center#narrow
  %thead
    %tr.wice-grid-title-row
      %th Nombre	


  - @locations.each do |location|
    %tr
      %td= link_to location.location, edit_location_path(location)


